@using System.Security.Claims

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>EmployeeRegister</title>
    
    <script>
       function digitalClock() {
        var date = new Date();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
          if (hours < 10) hours = "0" + hours;
          if (minutes < 10) minutes = "0" + minutes;
          if (seconds < 10) seconds = "0" + seconds;
            document.getElementById("id_clock").innerHTML = hours + ":" + minutes + ":" + seconds;
            setTimeout("digitalClock()", 1000);
       }
      </script>
</head>

<body>
@if (User.Identity.IsAuthenticated)
{
    <h4 class="text-center">
        Hello, @User.Identity.Name
    </h4>
    <h4 class="text-center">
        Your role is @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select( x => x.Value).SingleOrDefault()
    </h4>
}
else
{
    <h4 class="text-center">
        Hello, Visitor
    </h4>
    <h4 class="text-center">
        You are not signed-in
    </h4>
}

<h4 id="id_clock" style="position: absolute; left: 47%; bottom: 5%; display: flex"></h4>
<script>digitalClock();</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>
</html>