@{
    ViewData["Title"] = "EmployeeRegister";
}
<script src="js/site.js" type="text/javascript"></script> 

<script>
setInterval(function () {
    document.getElementById('current_date_time').innerHTML = date_time();
     }, 1000);
</script>

<p>домашняя страница</p>

<div class="copyright">Made by Dzmitry Burak</div>

<div class = "footer" id="current_date_time"></div>



