@model EmployeeRegister.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Login</title>
</head>

<body>
<form asp-controller="Authentication" asp-action="Login" method="post">
    <div class="form-group text-center">
        <label >Login: </label>
        @Html.EditorFor(x => x.Login)
    </div>
    <div class="form-group text-center" style="margin-right: 2%">
        <label>Password: </label>
        @Html.EditorFor(x => x.Password)
    </div>
    
    <div class="text-center">
    <input type="submit" value="Login">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>