@model EmployeeRegister.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Login</title>
</head>

<body>
<form asp-controller="Authentication" asp-action="Login" method="post">
        <div class="uiforvalidation">
        @Html.ValidationSummary()
    </div>
        <p></p>
        <div class="form-group text-center">
        <label >Login: </label>
            @Html.TextBoxFor(x => x.Login)
        </div>
        <p></p>
        <div class="form-group text-center">
        <label>Password: </label>
            @Html.TextBoxFor(x => x.Password, new { size = 16, @type="password" })
            </div>
        <p></p>
    <div class="text-center">
            <input class="btn btn-dark" type="submit" value="Login">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>