@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h3>Employees</h3>

@if (User.IsInRole("Editor") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Register New", "Create")
}
@using (Html.BeginForm())
{
    <input type="text" name="filter" value="@ViewBag.filter" placeholder="Введите имя работника">
    <span><button type="submit">Поиск</button></span>
    
    <table class="table">
        <tr>
            <th>Full Name</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th></th>
        </tr>

        @await Html.PartialAsync("Table")
    </table>
}

