@using EmployeeRegister.Common.Enums
@model EmployeeRegister.ViewModels.UserEditViewModel;

@{
    ViewData["Title"] = "Edit user";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/BootsWatchLux.css" />
    <title>Edit</title>
</head>

<body>
<form asp-controller="User" asp-action="Edit" method="post">
        <div class="uiforvalidation">
            @Html.ValidationSummary()
        </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Login: </label>
        @Html.TextBoxFor(x => x.Login, new {size=32})
    </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Email: </label>
        @Html.TextBoxFor(x => x.Email, new {size=32})
    </div>
        <p></p>
        <div class="form-group text-center">
        <label class="control-label">Role: </label>
        @Html.DropDownListFor(x => x.Role,
            new SelectList(Enum.GetNames(typeof(Role))))
    </div>
        <p></p>
        <div class="form-group text-center">
            <input class="btn btn-dark" type="submit" value="Edit">
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>